<h1>You can check the summary here</h1>
<%=mes%>
<form action="/findsummary" method="POST">
    <select name="month">
        <option value="select_month">--Select month--</option>
        <option value="0">January</option>
        <option value="1">February</option>
        <option value="2">March</option>
        <option value="3">April</option>
        <option value="4">May</option>
        <option value="5">June</option>
        <option value="6">July</option>
        <option value="7">August</option>
        <option value="8">September</option>
        <option value="9">October</option>
        <option value="10">November</option>
        <option value="11">December</option>
    </select>

    <select name="year">
            <option value="select_year">--Select year--</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            
        </select>
        <input type="submit" value="Find">
</form>